<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luck.libraryshowdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:appComponentFactory=""
        android:name=".base.MyApplication"
        tools:replace="android:appComponentFactory"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ToastyActivity"/>
        <activity android:name=".activity.SwitchIconActivity"/>
        <activity android:name=".activity.StyleableToastActivity"/>
        <activity android:name=".activity.PhoneRegexActivity"/>
        <activity android:name=".activity.FlowLayoutActivity"/>
        <activity android:name=".activity.ExcelPanelActivity"/>
    </application>

</manifest>